.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 10%;
  margin-left: 3%;
}

.container #img {
  object-fit: cover;
  width: 150px; /* Adjusted for better visibility */
  height: 100px;
  -webkit-box-reflect: below 2px linear-gradient(transparent, transparent, #0004);
  transform-origin: center;
  transform: perspective(900px) rotateY(20deg);
  transition: 0.5s;
  border-radius: 10px; /* Optional for rounded corners */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional for a subtle shadow */
}

.container:hover #img {
  opacity: 0.5;
}

.container #img:hover {
  transform: perspective(900px) rotateY(0deg);
  opacity: 1;
}

.topic-title {
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  margin-top: 10px;
  color: #333;
}
